.footer {
  position: relative;
  z-index: 2;
  &__inner {
    background-color: $yellow;
  }
  &__logo {
    display: none;
  }
}
.contacts {
  padding: 30px 0;
  background: $lightGrey;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      li:not(:last-child) {
        &::after {
          content: ';';
          display: inline-block;
          margin-left: -0.25em;
        }
      }
    }
  }
  &__icon {
    margin-right: 10px;
    vertical-align: middle;

    width: 30px;
    height: 30px;
  }
  &__link {
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    letter-spacing: 0.03em;
    color: $black;
    transition: 0.3s;
    &:hover {
      color: #a6a272;
    }
  }
}
.copyrights {
  padding-top: 30px;
  padding-bottom: 15px;
  background: rgba(50, 50, 50, 0.95);
  & > .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  &__symbols {
    display: flex;
    gap: 10px;
    & > svg {
      width: 30px;
      height: 30px;
    }
  }
  &__links {
    font-size: 12px;
    line-height: 125%;
    /* identical to box height, or 15px */

    /* White */

    color: $white;

    opacity: 0.75;
    transition: 0.4s;
    & > a {
      color: inherit;
    }
    a:hover {
      &:hover {
        opacity: 1;
      }
    }
  }
  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
    /* identical to box height, or 15px */

    /* White */

    color: $white;

    opacity: 0.75;
  }
}

@media (max-width: $beforeMd) {
  .footer {
    .donate-btn {
      max-width: none;
      &__icon-wrap {
        display: none;
      }
      &__text {
        display: inline-block;
      }
    }
  }
}

@media (min-width: $md) {
  .footer {
    &__inner {
      background-color: $black;
      padding: 40px 0px;
      & > .container {
        display: flex;
        justify-content: space-between;
      }
    }
    &__logo {
      display: block;
      width: 144px;
    }
    .donate-btn {
      &__text {
        display: block;
      }
    }
  }
  .copyrights {
    padding: 30px 0;
    & > .container {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
    &__text {
      order: 1;
    }
    &__symbols {
      order: 2;
    }
    &__links {
      order: 3;
    }
  }
}
@media (min-width: $lg) {
  .footer {
    position: relative;
    border-top: 2px solid $lightGrey;
    &__inner {
      padding-top: 75px;
    }
  }
  .contacts {
    background-color: transparent;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    &__list {
      gap: 30px;
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 25px;
      background-color: $lightGrey;
    }
  }
}

@media (min-width: $lg) and (max-width: $xl) {
  .contacts {
    &__item {
      ul {
        display: block;
      }
    }
  }
}
