.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $black;
  padding: 10px 0;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__group {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
@media (min-width: $md) {
  .header {
    padding: 0;
    background-color: transparent;
    & > .container {
      background-color: $black;
    }
    &__menu-btn {
      display: none;
    }
  }
}
