.hero {
  padding-top: 30px;
  padding-bottom: 60px;
  .container {
    position: relative;
    z-index: 1;
  }
  &__bg {
    &::before {
      content: '';
      display: block;
      padding-top: 109%;
    }
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/hero-bg-mob.png');

    // @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    //   background-image: url('../images/hero-bg-mob.png?width=960');
    // }
    // @media (max-width: 375px) {
    //   background-image: url('../images/hero-bg-mob.png?width=375');
    // }
    // @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 375px),
    //   (min-resolution: 192dpi) and (max-width: 375px) {
    //   background-image: url('../images/hero-bg-mob.png?width=750');
    // }
  }
  &__text-wrap {
    position: relative;
  }
  &__line {
    position: absolute;
    transform: translateY(-100%);
    width: 100px;
    height: 20px;
  }
  &__title {
    padding-top: 15px;
    margin-bottom: 15px;

    font-family: 'Blender Pro';
    font-size: 45px;
    font-weight: 400;
    line-height: 106%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    /* Black */

    color: $black;
    & > strong {
      font-family: 'Blender Pro';
      font-weight: 900;
    }
  }
  &__text {
    font-family: 'HelveticaNeueCyr';
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    letter-spacing: 0.03em;

    /* Black */

    color: $black;

    opacity: 0.75;
  }
}

@media (min-width: 500px) and (max-width: $md) {
  .hero {
    &__bg {
      max-width: 300px;
      margin-left: auto;
    }
    &__text {
      max-width: 50%;
    }
    .container {
      margin-top: -200px;
    }
  }
}

@media (min-width: $md) {
  @media (max-width: ($xl - 1)) {
    .hero {
      position: relative;
      &__text-wrap {
        position: absolute;
        bottom: 50px;
        max-width: 470px;
      }
    }
  }
}
@media (min-width: $md) {
  .hero {
    padding: 60px 0 60px;
    &__bg {
      &::before {
        padding-top: 53.66%;
      }
      background-image: url('../images/hero-bg.png');
      background-position: 71% 74%;
      background-size: auto 127%;
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
    }
    &__text-wrap {
      margin-top: -240px;
    }
    &__title {
      max-width: 430px;
    }
    &__text {
      max-width: 430px;
    }
    @media (max-width: 1750px) {
      &__text-wrap {
        width: 85%;
        margin-left: auto;
      }
    }
  }
}

@media (min-width: $lg) {
  .hero {
    &__bg {
      max-height: 525px;
    }
  }
}

@media (min-width: $xl) {
  .hero {
    padding: 90px 0;
    &__bg {
      background-position: top 65% right;
      background-size: auto 135%;
      max-height: 100%;
      &::before {
        padding-top: 41.66%;
      }
    }
  }
}
