.donate-btn {
  display: flex;
  align-items: center;
  background-color: $yellow;
  height: 70px;
  max-width: 245px;
  &__icon-wrap {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    border-right: 2px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transition: 0.3s;
  }
  &__text {
    padding: 0 35px;
    flex-grow: 1;
    font-family: 'Blender Pro';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    vertical-align: middle;
    transition: 0.3s;
  }
  &--only-icon {
    .donate-btn__icon {
      border-right: none;
    }
    .donate-btn__text {
      display: none;
    }
  }
  &--only-text {
    .donate-btn__icon-wrap {
      display: none;
    }
  }
  &.donate-btn--big {
    height: 70px;
    .donate-btn__icon {
      width: 40px;
      height: 40px;
    }
  }
  &:hover {
    .donate-btn {
      &__icon {
        transform: rotateY(180deg);
      }
      &__text {
        transform: scale(1.05);
      }
    }
  }
}
@media (max-width: ($md - 1px)) {
  .donate-btn {
    height: 50px;
    &__icon-wrap {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__icon {
      width: 30px;
      height: 30px;
    }
  }
}
