.main-nav {
  display: none;
}
@media (min-width: $md) {
  .main-nav {
    padding: 5px 0;
    display: block;
    &__list {
      display: flex;
    }
    &__link {
      display: block;
      padding: 25px 15px;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.03em;
      color: rgba(#ffffff, 0.7);
      transition: 0.4s;
      &:hover {
        color: #fff;
        background: rgba(174, 173, 143, 0.2);
      }
    }
  }
}

@media (min-width: $lg) {
  .main-nav {
    &__link {
      padding: 25px 30px;
    }
  }
}
