.main-nav {
  display: none;
}
@media (min-width: $md) {
  .main-nav {
    display: block;
    &__list {
      display: flex;
    }
    &__link {
      display: block;
      padding: 30px 15px;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.03em;
      color: #ffffff;

      opacity: 0.7;
      transition: 0.4s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: $lg) {
  .main-nav {
    &__link {
      padding: 30px;
    }
  }
}
