.section {
  &__title {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }
  &__subtitle {
    font-family: 'HelveticaNeueCyr';
    font-weight: 550;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    letter-spacing: 0.03em;

    color: $mainOlive;
  }
}
@media (min-width: $desktop) {
  .section {
    &__title {
      font-family: 'Blender Pro';
      font-size: 60px;
      line-height: 100%;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.02em;
    }
  }
}
